[build]
  publish = "public"

[build.environment]
  NODE_ENV = "production"

[[redirects]]
  from = "/"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/templates"
  to = "/templates.html"
  status = 200

[[redirects]]
  from = "/dashboard"
  to = "/dashboard/index.html"
  status = 200
